---
---

<html>
	<head>
		<title>Corsair Warfare</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">Corsair Warfare</h1>
			<p class="date">May 8, 2023</p>
			<img class="logo" src="screenshot.png" alt="" />
			<div class="center">
				<p id="excerpt" hidden>
					Challenge your scurvy mates to a local multiplayer skirmish on the
					high seas!
				</p>
			</div>
			<p id="download">
				<a
					class="button"
					href="https://github.com/friedev/corsair-warfare/releases/latest"
					download
					>Download</a
				>
			</p>
			<code id="git"
				>git clone https://github.com/friedev/corsair-warfare.git</code
			>
			{% include readme/corsair-warfare.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
