---
layout: project
title: Die Krypta
date: 2022-07-17
---

<img class="logo" src="logo.png" alt="" />
<!--
<p id="download">
	<a
		class="button"
		href="https://github.com/friedev/die-krypta/releases/latest"
		>Download</a
	>
</p>
<p id="soundtrack">
	Soundtrack:
	<a href="/die-krypta-ost">Die Krypta OST</a>
</p>
<code id="git">git clone https://github.com/friedev/die-krypta.git</code>
-->
<p id="excerpt" hidden>
	Roll yourself through the crypt and attack with each of your faces. Made in
	under 12 hours for the
	<a href="https://itch.io/jam/gmtk-jam-2022">2022 GMTK Game Jam</a>.
</p>
{% include update_notice.html %} {% include readme/die-krypta.html %}
