<!-- BEGIN content.html -->
<h2 id="games" class="center">Games</h2>
<div class="project" id="corsair-warfare">
	<a href="corsair-warfare"><img class="project" src="corsair-warfare/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="corsair-warfare">Corsair Warfare</a></h3>
	<p class="date">May 8, 2023</p>
	<p id="excerpt" >Challenge your scurvy mates to a local multiplayer skirmish on the high seas!</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/corsair-warfare/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/corsair-warfare.git</code>
	</div>
</div>
<div class="project" id="unknowable">
	<a href="unknowable"><img class="project" src="unknowable/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="unknowable">Unknowable</a></h3>
	<p class="date">November 13, 2022</p>
	<p id="excerpt" >The celestial conjunction is nigh. Assemble your cult and seek out mystical artifacts to summon forth the elder gods, but be wary: the Watch is ever vigilant. Originally made in under 34 hours for the <a href="https://unl-game-dev-club.github.io">UNL Game Development Club</a>&#39;s first game jam in 2022, with the theme &#34;stay out of sight&#34;.</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/unknowable/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/unknowable.git</code>
	</div>
</div>
<div class="project" id="die-krypta">
	<a href="die-krypta"><img class="project" src="die-krypta/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="die-krypta">Die Krypta</a></h3>
	<p class="date">July 17, 2022</p>
	<p id="excerpt" >Roll yourself through the crypt and attack with each of your faces. Made in under 12 hours for the <a href="https://itch.io/jam/gmtk-jam-2022">2022 GMTK Game Jam</a>.</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/die-krypta/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/die-krypta.git</code>
	</div>
</div>
<div class="project" id="terminated">
	<a href="terminated"><img class="project" src="terminated/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="terminated">TERMINATED</a></h3>
	<p class="date">October 4, 2021</p>
	<p id="excerpt" >Slay robots in this top-down arena shooter inspired by <a href="https://devildaggers.com/">Devil Daggers</a> by Sorath and <a href="https://www.youtube.com/watch?v=AdUhOtKY0ko">2DDD</a> by Bintr.</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/terminated/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/terminated.git</code>
	</div>
</div>
<div class="project" id="minieval">
	<a href="minieval"><img class="project" src="minieval/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="minieval">Minieval</a></h3>
	<p class="date">April 24, 2021</p>
	<p id="excerpt" >A tiny medieval city builder.</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/minieval/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/minieval.git</code>
	</div>
</div>
<details>
<summary class="center"><strong>Show More</strong></summary>
<div class="project" id="minius-maximus">
	<a href="minius-maximus"><img class="project" src="minius-maximus/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="minius-maximus">Minius Maximus</a></h3>
	<p class="date">February 16, 2020</p>
	<p id="excerpt" >A turn-based strategy puzzler for the <a href="https://gdc.cs.ksu.edu/game-jam/">2020 K-State Game Jam</a>. You can freely change your stats during combat, but when one stat goes up, another must go down.</p>
	<p id="download"> <a class="button" href="https://github.com/UNL-Game-Dev-Club/minius-maximus/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/UNL-Game-Dev-Club/minius-maximus.git</code>
	</div>
</div>
<div class="project" id="genericrawl">
	<a href="genericrawl"><img class="project" src="genericrawl/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="genericrawl">GeneriCrawl</a></h3>
	<p class="date">August 7, 2018</p>
	<p id="excerpt" >A generic traditional roguelike made with Python and <a href="https://github.com/libtcod/python-tcod">tcod</a> as part of the 2018 <a href="https://redd.it/8ql895">r/roguelikedev Does The Complete Roguelike Tutorial</a> event. Can you reach the bottom floor of the dungeon in one piece?</p>
	<code id="download">pip install genericrawl</code>
	
	<code id="git">git clone https://github.com/friedev/genericrawl.git</code>
	</div>
</div>
<div class="project" id="eversector">
	<a href="eversector"><img class="project" src="eversector/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="eversector">EverSector</a></h3>
	<p class="date">June 29, 2017</p>
	<p id="excerpt" >EverSector is a space simulation roguelike where you pilot a starship through a procedurally generated galaxy.</p>
	<p id="download"> <a class="button" href="https://github.com/friedev/eversector/releases/latest">Download</a></p>
	
	<code id="git">git clone https://github.com/friedev/eversector.git</code>
	</div>
</div>
</details>
<hr />
<h2 id="software" class="center">Software</h2>
<div class="project" id="vw">
	<a href="vw"><img class="project" src="vw/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="vw">vw</a></h3>
	<p class="date">February 5, 2023</p>
	<p id="excerpt" >vw (vim wiki) is yet another system for maintaining a simple personal wiki using vim and markdown.</p>
	
	
	<code id="git">git clone https://github.com/friedev/vw.git</code>
	</div>
</div>
<div class="project" id="musicli">
	<a href="musicli"><img class="project" src="musicli/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="musicli">MusiCLI</a></h3>
	<p class="date">January 23, 2022</p>
	<p id="excerpt" >MusiCLI (pronounced &#34;musically&#34;) is a MIDI sequencer that runs entirely in the terminal.</p>
	
	
	<code id="git">git clone https://github.com/friedev/musicli.git</code>
	</div>
</div>
<div class="project" id="arghonaut">
	<a href="arghonaut"><img class="project" src="arghonaut/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="arghonaut">Arghonaut</a></h3>
	<p class="date">November 7, 2021</p>
	<p id="excerpt" >Arghonaut is an interactive interpreter, visualizer, and debugger for <a href="https://esolangs.org/wiki/Argh!">Argh! and Aargh!</a>, which are <a href="https://esolangs.org/wiki/Befunge">Befunge</a>-like esoteric programming languages by Sascha Wilde.</p>
	<code id="download">pip install arghonaut</code>
	
	<code id="git">git clone https://github.com/friedev/arghonaut.git</code>
	</div>
</div>
<div class="project" id="boost">
	<a href="boost"><img class="project" src="boost/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="boost">Boost</a></h3>
	<p class="date">November 27, 2020</p>
	<p id="excerpt" >A Python implementation of the Boost board game designed by <a href="https://cse.unl.edu/~bgarvin/">Dr. Brady J. Garvin</a>. It can be run interactively on the terminal, or as a <a href="https://discord.com">Discord</a> bot.</p>
	<code id="download">pip install boost-game</code>
	
	<code id="git">git clone https://github.com/friedev/boost.git</code>
	</div>
</div>
<details>
<summary class="center"><strong>Show More</strong></summary>
<div class="project" id="apwt">
	<a href="apwt"><img class="project" src="apwt/icon.png" alt=""/></a>
	<div class="project-content">
	<h3 class="project"><a href="apwt">APWT</a></h3>
	<p class="date">June 22, 2017</p>
	<p id="excerpt" >AsciiPanel Windowing Toolkit (APWT) is a set of classes and utilities that will make working with <a href="https://github.com/trystan/AsciiPanel">AsciiPanel</a> on a larger scale much easier. It includes support for screens, text windows, multicolored strings, and constants for different CP437 characters.</p>
	
	
	<code id="git">git clone https://github.com/friedev/apwt.git</code>
	</div>
</div>
</details>
