<p class="icons">
	{% if include.download %}
	<a class="button" href="{{ include.download }}" title="Download"
		><i class="fa-solid fa-download"></i
	></a>
	&nbsp; {% endif %}
	{% if include.pypi %}
	<a id="pypi" href="https://pypi.org/project/{{ include.pypi }}" title="PyPI"
		><i class="fa-brands fa-python fa-xl"></i
	></a>
	&nbsp; {% endif %}
	{% if include.github %}
	<a id="git" href="https://github.com/{{ include.github }}" title="GitHub"
		><i class="fa-brands fa-github fa-xl"></i
	></a>
	&nbsp; {% endif %}
	{% if include.git %}
	<a id="git" href="{{ include.git }}" title="Git"
		><i class="fa-brands fa-git-alt fa-xl"></i
	></a>
	&nbsp; {% endif %}
	{% if include.soundcloud %}
	<a id="git" href="{{ include.soundcloud }}" title="SoundCloud"
		><i class="fa-brands fa-soundcloud fa-xl"></i
	></a>
	&nbsp; {% endif %}
	{% if include.soundtrack %}
	<a id="git" href="{{ include.soundtrack }}" title="Soundtrack"
		><i class="fa-solid fa-music fa-xl"></i
	></a>
	&nbsp; {% endif %}
</p>
