<!DOCTYPE html>
<html>
	<head>
		<title>EverSector</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">EverSector</h1>
			<p class="date">June 29, 2017</p>
			<img class="logo" src="logo.png" alt="" />
			<p id="download">
				<a class="button" href="eversector.zip" download>Download</a>
			</p>
			<code id="git">git clone https://frie.dev/eversector.git</code>
			<p id="excerpt" hidden>
				EverSector is a space simulation roguelike where you pilot a starship
				through a procedurally generated galaxy.
			</p>
			{% include readme/eversector.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
