<p>Arghonaut is an interactive interpreter, visualizer, and debugger for <a href="https://esolangs.org/wiki/Argh!">Argh! and Aargh!</a>, which are <a href="https://esolangs.org/wiki/Befunge">Befunge</a>-like esoteric programming languages designed by Sascha Wilde.
Arghonaut is written in Python and includes an ncurses interface.</p>
<p>Arghonaut was created by <a href="https://frie.dev">Aaron Friesen</a> for FOSS Jam 2021, a hackathon hosted by the <a href="https://os2g.unl.edu">UNL Operating Systems and Open Source Group</a>.</p>
<h2 id="installation">Installation</h2>
<pre><code class="language-sh">pip install arghonaut
</code></pre>
<p>To use the UI, make sure you have ncurses or a suitable equivalent installed.</p>
<h2 id="usage">Usage</h2>
<p>To run Arghonaut interactively, execute the following command, where <code>src.agh</code> is an Argh! or Aargh! source code file:</p>
<pre><code class="language-sh">arghonaut src.agh
</code></pre>
<p>For more detailed usage information, run:</p>
<pre><code class="language-sh">arghonaut --help
</code></pre>
<h3 id="keybindings">Keybindings</h3>
<p>Arghonaut supports the following keybindings:</p>
<ul>
<li><code>.</code> or Enter: step through execution</li>
<li>Space: automatically step through execution (0.1 second delay) or pause</li>
<li><code>c</code>: continue until next input</li>
<li><code>hjkl</code>: move the editing cursor</li>
<li><code>b</code>: return the cursor to the instruction pointer</li>
<li><code>g</code>: jump the instruction pointer to the cursor</li>
<li><code>i</code>: enter insert mode (the next character you type will be written into the code at the cursor position)</li>
<li><code>o</code>: open a new line</li>
<li><code>r</code>: reset state (excluding unsaved code changes)</li>
<li><code>n</code>: reset program (including unsaved code changes)</li>
<li><code>s</code>: save current code changes to program state (does not modify source file)</li>
<li><code>q</code> or Escape: quit</li>
</ul>
<h3 id="batch-mode">Batch Mode</h3>
<p>Arghonaut can be run in batch mode by adding the <code>--batch</code> flag.
In this mode, the curses interface will not be displayed, and input and output will be performed via standard input and standard output.
Programs can be run interactively with standard input from the keyboard, or with redirected or piped input.</p>
<h2 id="examples">Examples</h2>
<p>This repository includes some example Argh! and Aargh! programs written by Aaron Friesen.
For more examples, refer to the <a href="http://hg.intevation.org/argh/file/tip/examples">Argh! Mercurial repository</a>.</p>
<h2 id="contributing">Contributing</h2>
<p>To run Arghonaut from source:</p>
<pre><code class="language-sh">python -m arghonaut src.agh
</code></pre>
<p>If you want to submit a patch, please follow these guidelines:</p>
<ul>
<li>Run the project on some of the examples to test for bugs.</li>
<li>Run some Python linters to check for and fix any coding style issues.</li>
</ul>
<h2 id="license">License</h2>
<p>Arghonaut is licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License Version 3</a>.
Argh! is licensed under the <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU General Public License Version 2</a>, and permits the use of later versions of the license.</p>
