<p>Original description of Boost:</p>
<blockquote>
<p>Boost is a turn-based abstract strategy board game like checkers, chess, Xiangqi, or Arimaa.
It was designed to be new and interesting for humans to play while still admitting a simple AI and supporting various homework assignments on algorithms and data structures in the SOFT 260 course at UNL.</p>
</blockquote>
<p>Boost was designed and first implemented by <a href="https://cse.unl.edu/~bgarvin">Dr. Brady J. Garvin</a>.
The original implementation was a Progressive Web App made with <a href="https://reactjs.org/">React.js</a>.</p>
<p>This is a Python implementation that closely conforms to the original rules of the game.
It can run interactively in a terminal session, or as a <a href="https://discord.com">Discord</a> bot.</p>
<p>For a transcription of the rules, see <a href="RULES.md">RULES.md</a>.</p>
<h2 id="installation">Installation</h2>
<pre><code class="language-sh">pip install boost-game
</code></pre>
<p>For graphics on Discord, install <code>librsvg</code> (on Arch-based systems) or <code>librsvg2-bin</code> (on Debian-based systems).
Alternatively, if Chromium or Chrome is installed and available on your <code>PATH</code>, it can be used instead, although browser-based rendering is more resource intensive.</p>
<h2 id="usage">Usage</h2>
<h3 id="terminal">Terminal</h3>
<pre><code class="language-sh">boost
</code></pre>
<p>To see a list of game commands, enter <code>help</code> in-game.</p>
<p>For more usage information:</p>
<pre><code class="language-sh">boost --help
</code></pre>
<h3 id="discord-bot">Discord Bot</h3>
<p>To serve the Boost Discord bot, you must first create a bot account via the <a href="https://discord.com/developers/applications">Discord Developer Portal</a>.
This is a standard process and you can find documentation for it online.</p>
<p>Then:</p>
<ul>
<li>Save your Discord bot token to a file named <code>token.txt</code> in the repo directory.</li>
<li>Run <code>.&#47;bot.sh</code> (or <code>.&#47;bot.sh&#38;</code> to run the bot in the background).</li>
<li>Invite the bot to the server(s) you wish to use it (via the developer portal).</li>
</ul>
<p>The bot needs the following permissions:</p>
<ul>
<li>View Channels</li>
<li>Send Messages</li>
<li>Attach Files (optional; required for graphics support)</li>
</ul>
<p>After inviting the bot to a server, you can view a list of commands by sending <code>&#47;boost help</code> in a channel the bot can read and send messages in.</p>
<h2 id="troubleshooting">Troubleshooting</h2>
<p>If you&#39;re using RSVG and the Discord bot is displaying a board with no pieces, try setting <code>XLINK</code> to <code>True</code> in <code>graphics&#47;board_svg.py</code>.
(Change the line with <code>XLINK = False</code> to <code>XLINK = True</code>.)
Eventually, this will be made into a command line switch.</p>
<h2 id="contributing">Contributing</h2>
<p>This Boost implementation is being developed by <a href="https://maugrift.com">Aaron Friesen</a> as a fun side project, so don&#39;t expect incredible levels of polish.
However, I am open to issues and pull requests!</p>
<p>If you want to submit a PR, please follow these guidelines:</p>
<ul>
<li>Run the game (both CLI and Discord bot if possible) to check for bugs.
You can utilize the debug rulesets in <code>boost.py</code> to check certain hard-to-test cases, such as victory.</li>
<li>Copy the license notice from <code>boost.py</code> into any new Python files you create.</li>
<li>Run some Python linters on the files you&#39;ve changed and ensure there are as few lint issues as possible.</li>
</ul>
<p>If you want to contribute but aren&#39;t sure what to work on, you can find some ideas in <code>TODO.md</code>.</p>
<h2 id="license">License</h2>
<p>This Boost implementation is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.
The original implementation was closed source and unlicensed, but this implementation has received written permission from Dr. Garvin to be publicly distributed.</p>
<p>Among other things, the AGPL implies that if you want to fork the repo and run your own derivative Discord bot, you need to disclose the source code of your implementation.
To do this, I recommend adding a command to the bot (similar to the <code>&#47;boost info</code> for this bot) that provides a link back to your repository.</p>
