<p>Challenge your scurvy mates to a local multiplayer skirmish on the high seas!</p>
<p>Steer your ship to catch the wind and line up your cannons for devastating broadsides.
Choose your hull, cannons, and sails to build the perfect decked out pirate ship.
Up to two salty dogs can play using the keyboard, and many more can join the fray on controllers.</p>
<p>Which of you will rule the waves, and who will find their watery graves?</p>
<h2 id="how-to-play">How to Play</h2>
<h3 id="controls">Controls</h3>
<p>Keyboard player 1:</p>
<ul>
<li>Steer: A&#47;D</li>
<li>Cannons: Q&#47;E</li>
<li>Pause: Escape</li>
</ul>
<p>Keyboard player 2:</p>
<ul>
<li>Steer: J&#47;L</li>
<li>Cannons: U&#47;O</li>
<li>Pause: Escape</li>
</ul>
<p>Controller players:</p>
<ul>
<li>Steer: Left Stick</li>
<li>Cannons: Triggers</li>
<li>Join Game: A</li>
<li>Leave Game: B</li>
<li>Pause: Start</li>
</ul>
<h3 id="tips">Tips</h3>
<p>Your ship moves much faster if you sail with the wind.
The wind direction is indicated by the arrow in the top right corner of the screen, and by the white streaks in the air.
Pay attention, because the wind changes in direction and speed over time.</p>
<h3 id="game-modes">Game Modes</h3>
<p>In Last Man Standing mode, your goal is (more accurately) to be the last ship afloat.
If time runs out, the player controlling the ship with the most health remaining wins.</p>
<p>In Deathmatch mode, your goal is to sink as many other ships as possible, while avoiding getting sunk yourself.
Score 2 points for sinking a ship, lose 1 point for getting sunk, and lose 3 points for getting shipwrecked on rocks or land.
When time runs out, the winner is the player with the most points.</p>
<h2 id="credits">Credits</h2>
<p>Corsair Warfare was made by <a href="https://frie.dev">Aaron Friesen</a> in collaboration with other members of the <a href="https://unl-game-dev-club.github.io">UNL Game Development Club</a>:</p>
<ul>
<li>Tristan Maiefski: Art</li>
<li>Preston Pinkelman: Music, Additional Programming</li>
<li>Kyle Gann: Additional Programming</li>
</ul>
<p>Made with <a href="https://godotengine.org">Godot Engine 4</a>.</p>
<h3 id="third-party-assets">Third-Party Assets</h3>
<p>See <code>THIRD-PARTY_LICENSES.md</code>.</p>
<h2 id="licenses">Licenses</h2>
<ul>
<li>Code, scenes, and resources: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a></li>
<li>Art and music: <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a></li>
</ul>
