<p>Roll yourself through the crypt and attack with each of your faces.
Made in under 12 hours for the <a href="https://itch.io/jam/gmtk-jam-2022">2022 GMTK Game Jam</a>.</p>
<blockquote>
<p>In a life long past, you were cursed by Die Hexe, a malevolent conjurer of geometric transformation.
With your spirit imprisoned within a crystalline prism, you were left to wander the earth forever in silence...</p>
<p>But finally, after countless years, you have come upon the haunted tomb of that foul sorcerer who wronged you so long ago.
You know that in its final stone chamber lies Die Tasse, a cup bearing the elixir that shall restore your mortal form.</p>
<p>The ancient magicks of this place have awakened a spark within you, now igniting each face of your hexahedral form with the power to smite the wraiths and specters that still lurk within.
But move wisely, for each face bears a different mark, and you must align them with your foes lest they rend the last vestiges of your soul.
So roll forth, brave cubic wanderer, and enter...
Die Krypta!</p>
</blockquote>
<h2 id="how-to-play">How to Play</h2>
<p>With each move, you roll to a new face of the die.
The face you will turn up is displayed in each direction.
Each face has a different attack, highlighted in red after you move.</p>
<h3 id="controls">Controls</h3>
<ul>
<li>Arrows&#47;WASD&#47;HJKL: Roll</li>
<li>Space&#47;Period: Wait</li>
<li>Escape: Pause</li>
</ul>
<h3 id="attacks">Attacks</h3>
<p>Most attacks resemble the arrangement of pips on the die.
Below, the specific cells you attack when the given face is turned up are marked with X&#39;s.
1 is special in that it attacks forward in the direction you just moved.</p>
<pre><code>. . .   X . .   . . X   . X .   X . X   X . X
&#62; 1 X   . 2 .   . 3 .   X 4 X   . 5 .   X 6 X
. . .   . . X   X . .   . X .   X . X   X . X
</code></pre>
<h2 id="credits">Credits</h2>
<p>Die Krypta was created by <a href="https://frie.dev">Aaron Friesen</a>.</p>
<p>Software used:</p>
<ul>
<li>Engine: <a href="https://godotengine.org">Godot Engine</a></li>
<li>Art: <a href="https://gimp.org">GIMP</a></li>
<li>Music: <a href="https://lmms.io/">LMMS</a></li>
</ul>
<p>See <a href="THIRD-PARTY_LICENSES.md">THIRD-PARTY_LICENSES.md</a> for the list of third-party assets used and their licenses.</p>
<h2 id="license">License</h2>
<ul>
<li>Source Code: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a> (see <a href="LICENSE.txt">LICENSE.txt</a>)</li>
<li>Original Assets: <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a> (see <a href="ASSET_LICENSE.txt">ASSET_LICENSE.txt</a>)</li>
</ul>
