<p>EverSector is a space simulation roguelike where you pilot a starship through a procedurally generated galaxy.
Mine resources on planets and asteroid belts, trade with space stations, and claim territory for your faction.
Work alongside each individually simulated ship, or blast them apart and salvage their remains.
Go forth, and shape the future of your galaxy!</p>
<h2 id="usage">Usage</h2>
<p>To run the game: <code>.&#47;bin&#47;EverSector</code></p>
<p>Or, on Windows: <code>.&#47;bin&#47;EverSector.bat</code></p>
<h2 id="compiling">Compiling</h2>
<p>Dependencies:</p>
<ul>
<li>Java 8 or newer</li>
<li>Gradle (last tested with Gradle 7.5.1)</li>
</ul>
<p>Clone the repository and run the build script <code>.&#47;build.sh</code>.
This creates the directory <code>EverSector</code>, containing all files needed to run the game.</p>
<p>To make a release build, run <code>.&#47;build.sh --release</code>.
This creates an <code>EverSector.zip</code> package for distribution.</p>
<h2 id="how-to-play">How to Play</h2>
<p>EverSector is played entirely with the keyboard.
Every action you can take is triggered by a keypress or combination of them.
At almost any time, you may press <code>?</code> to see all actions currently available to you.
This list may change based on your situation and items you may have. In popup windows and confirmation dialogs, <code>y</code> or Enter is equivalent to "yes", <code>n</code> means "no", and <code>q</code> or Escape means "cancel".
Sometimes "cancel" performs the same function as "no", though generally it can be used to leave the dialog without performing an action.
To navigate menus, use the arrow keys.
In some cases, <code>wasd</code>, the vi keys, and the number pad may also be used to navigate.
The current selection is often denoted by a blue highlight.</p>
<h3 id="galaxy-screen">Galaxy Screen</h3>
<p>The galaxy map shows you the layout of nearby sectors in your galaxy.
Each tile is a sector, though only some of them have star systems you can enter.
Any tile other than a dot is a star system and highlighted sectors contain nebulae that block vision.
You can also switch between normal view and star view by pressing <code>v</code>.
Normal view colors sectors based on the faction that controls them and shows systems with stations in them.
Star view displays only star sizes and colors.
You can look around with <code>l</code> to what each sector contains.</p>
<h3 id="sector-screen">Sector Screen</h3>
<p>The sector screen is primarily a list of orbits with a comprehensive list of their contents in the panel on the right.
The uppermost orbits are the closest to the star and lower ones are further away.
Traveling away from the star once at the furthest orbit will cause you to escape the sector.
The size of star determines the number of possible orbits around it.
You and other ships are displayed in the middle column, with stations on the left and planets on the right.
As with the galaxy map, <code>l</code> can be used to look around and reveal the contents of different orbits.</p>
<h3 id="planet-screen">Planet Screen</h3>
<p>The planet screen displays all regions on a planet.
When traveling around the planet, note that traveling east and west will take you to the other side of the world.
Traveling north or south over a pole will take you to the opposite side of the planet, not to the other pole.
You can choose to show the colors of factions rather than default region colors by pressing <code>v</code>.
Also note that solar arrays won&#39;t work on planets as most light exposure will be inconsistent.</p>
<h3 id="station-screen">Station Screen</h3>
<p>The interface for stations lists items you can purchase on the left and items you can sell on the right.
To save time when mining, you can press <code>r</code> at a station to "restock," selling all ore and refilling other resources.
Docking with a station will automatically repair any damaged modules you may have for no cost.</p>
<h3 id="battle-screen">Battle Screen</h3>
<p>The battle screen is a simple list of your allies and enemies.
Pressing one of the combat keys (as listed after pressing <code>?</code>) will perform its action on the currently selected ship.
You will be able to view the information of ships you&#39;ve scanned on a panel to the right.
Note that the more modules a ship has, the more likely one is to get damaged.</p>
<h3 id="goal">Goal</h3>
<p>EverSector is, in some sense, a sandbox.
There are no goals imposed upon you, and you are given the freedom to play as you wish.
The most straightforward way to judge progress is by the credits you possess.
However, it can be more fun to impose challenges upon yourself.
Become the leader of your faction, assassinate an enemy leader, claim the entire galaxy for your faction, or upgrade your ship to its limits and crush your foes.
Go forth, and shape the future of your galaxy!</p>
<h2 id="credits">Credits</h2>
<p>EverSector was created by <a href="https://frie.dev">Aaron Friesen</a>.</p>
<p>Contributors:</p>
<ul>
<li><a href="https://oshuma.github.io">Dale Campbell</a></li>
</ul>
<p>Libraries:</p>
<ul>
<li><a href="https://github.com/trystan/AsciiPanel">AsciiPanel</a> by <a href="https://trystans.blogspot.com">Trystan Spangler</a></li>
<li><a href="https://github.com/SquidPony/SquidLib">SquidLib</a> by <a href="https://github.com/SquidPony">Eben Howard (SquidPony)</a></li>
<li><a href="https://frie.dev/apwt">APWT</a> by <a href="https://frie.dev">Aaron Friesen</a></li>
</ul>
<p>Fonts: All fonts are based on the following CP437 tilesets from the <a href="https://dwarffortresswiki.org/Tileset_repository">Dwarf Fortress Tileset Repository</a>, with custom tiles added by <a href="https://frie.dev">Aaron Friesen</a></p>
<ul>
<li><a href="http://df.magmawiki.com/index.php/File:Alloy_curses_12x12.png">12x12 tileset</a> by <a href="https://dwarffortresswiki.org/index.php/User:Alloy">Alloy</a></li>
<li><a href="https://dwarffortresswiki.org/index.php/File:Cooz_curses_square_16x16.png">16x16 tileset</a> by <a href="https://dwarffortresswiki.org/index.php?title=User:Cooz">Cooz</a></li>
<li><a href="https://github.com/trystan/AsciiPanel/blob/master/src/main/resources/qbicfeet_10x10.png">10x10 tileset</a> by qbicfeet (included with AsciiPanel)</li>
</ul>
<p>Title ASCII Art: <a href="http://patorjk.com/software/taag">TAAG</a> by <a href="http://patorjk.com">Patrick Gillespie</a></p>
<p>All applicable licenses can be found in the <code>licenses</code> folder.</p>
<h2 id="contributing">Contributing</h2>
<p>EverSector is no longer in development.
If you want to expand on the game, make your own fork.</p>
