<p>A tiny medieval city builder.</p>
<h2 id="how-to-play">How to Play</h2>
<p>In Minieval, your goal is to earn as many victory points (VP) as you can in a limited number of turns.
You can earn VP by placing buildings, but buildings cost gold (GP) to build.
You can see your current GP and VP on the top left.</p>
<p>The GP and VP you earn from a building are affected by the buildings next to it.
For example, placing a house next to a shop will earn you more GP, but placing 2 shops next to each other will cost you more GP due to competition.</p>
<p>Roads can be used to connect buildings that are otherwise out of range.
Any buildings connected by a road will interact with ALL buildings on that same road network.
These interactions will only affect the GP you gain from the building, and NOT the VP.</p>
<p>Buildings can&#39;t be destroyed, but you can always undo your last move.</p>
<h3 id="controls">Controls</h3>
<p>Mouse:</p>
<ul>
<li>Place building: left click</li>
<li>Pan camera: right click and drag</li>
<li>Zoom: scroll</li>
<li>Reset zoom: middle click</li>
<li>Undo: back thumb button</li>
<li>Redo: forward thumb button</li>
</ul>
<p>Keyboard:</p>
<ul>
<li>Select cell: number pad, vi keys</li>
<li>Select building: 0-9</li>
<li>Place building: space</li>
<li>Pan camera: arrows, WASD</li>
<li>Zoom: Q&#47;E</li>
<li>Undo: Ctrl+Z</li>
<li>Redo: Ctrl+Y</li>
<li>Menu: escape</li>
</ul>
<p>Controller:</p>
<ul>
<li>Select cell: right stick, D-pad</li>
<li>Select building: bumpers</li>
<li>Place building: A, right trigger</li>
<li>Pan camera: left stick</li>
<li>Menu: start&#47;menu</li>
<li>Undo: B</li>
<li>Redo: Y</li>
<li>Zoom: press left&#47;right stick</li>
</ul>
<h2 id="credits">Credits</h2>
<p>Minieval 1.0.0 was created in one semester by members of the <a href="https://unl-game-dev-club.github.io">UNL Game Development Club</a>:</p>
<ul>
<li>Programming: <a href="https://frie.dev">Aaron Friesen</a>, <a href="https://www.kalenwallin.com">Kalen Wallin</a>, Evan Mielak, Viet Ninh</li>
<li>Art: <a href="https://frie.dev">Aaron Friesen</a></li>
<li>Music: <a href="https://frie.dev">Aaron Friesen</a>, Jackson Herman</li>
<li>Moral Support: Ethan Fox</li>
</ul>
<p>Subsequent updates developed by <a href="https://frie.dev">Aaron Friesen</a>.</p>
<p>Software used: <a href="https://godotengine.org">Godot Engine</a>, <a href="https://gimp.org">GIMP</a>, <a href="https://lmms.io/">LMMS</a>, <a href="https://jfxr.frozenfractal.com">jfxr</a></p>
<p>See <a href="THIRD-PARTY_ASSETS.md">THIRD-PARTY_ASSETS.md</a> for the list of third-party assets used and their licenses.</p>
<h2 id="license">License</h2>
<ul>
<li>Source Code: <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a> (see <a href="LICENSE.txt">LICENSE.txt</a>)</li>
<li>Original Assets: <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a> (see <a href="ASSET_LICENSE.txt">ASSET_LICENSE.txt</a>)</li>
</ul>
