<p>A turn-based strategy puzzler made for the 2020 <a href="https://gdc.cs.ksu.edu/game-jam/">K-State Game Jam</a>.
You can freely change your stats during combat, but when one stat goes up, another must go down.</p>
<p>Fight your way through Gladiator High and defeat Principal Treebread!</p>
<h2 id="instructions">Instructions</h2>
<ul>
<li>Use A and D to walk left and right down the hallway.</li>
<li>Use W to jump (very useful).</li>
<li>Click Reconfigure in combat to adjust your stats.
Remember, to increase one stat, you have to lower another.
What goes up, must come down!</li>
<li>Click Fight in combat to attack your opponent.
<ul>
<li>You deal damage to your opponent equal to your strength minus half their defense, rounded down.</li>
<li>The opponent with the higher speed stat attacks first on any given turn.</li>
</ul></li>
<li>If you win a fight, you&#39;ll gain back stat points equal to your lost HP, plus two extra.</li>
<li>If you lose a fight, you can retry with your stats from before the fight.</li>
</ul>
<h2 id="credits">Credits</h2>
<ul>
<li>Sam Foit: Main Developer</li>
<li>Anders Long: UI Development, Icon and Title Art</li>
<li>Kelly Kamrath: Character and Background Art</li>
<li>Aaron Friesen: Music and Sound Design</li>
</ul>
<p><a href="https://frie.dev/minius-maximus-ost">Download the soundtrack for free!</a></p>
