<p>Slay robots in this top-down arena shooter inspired by <a href="https://devildaggers.com/">Devil Daggers</a> by Sorath and <a href="https://www.youtube.com/watch?v=AdUhOtKY0ko">2DDD</a> by Bintr.</p>
<p>TERMINATED (including all code, art, and music) was created by <a href="https://frie.dev">Aaron Friesen</a>.</p>
<h2 id="instructions">Instructions</h2>
<ul>
<li>[R] to start</li>
<li>[ESC] to quit</li>
<li>[WASD] to move</li>
<li>Hold [LMB] to shoot</li>
<li>Tap [LMB] for shotgun</li>
<li>[RMB] for laser</li>
<li>[SCROLL] to zoom</li>
<li>[F] to toggle FPS</li>
</ul>
<h2 id="assets-and-tools">Assets and Tools</h2>
<ul>
<li>Font: <a href="https://github.com/kika/fixedsys">FixedSys Excelsior</a></li>
<li>Sound Effects: see <code>SOUND_LICENSES.txt</code></li>
</ul>
<h2 id="license">License</h2>
<ul>
<li>The source code is available under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a> (see <code>LICENSE.txt</code>).</li>
<li>All original assets (art, music, and original sound effects) are available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a> (see <code>ASSET_LICENSE.txt</code>).</li>
</ul>
