<p>The celestial conjunction is nigh.</p>
<p>Assemble your cult and seek out mystical artifacts to summon forth the elder gods, but be wary: the Watch is ever vigilant.</p>
<p>Originally made in under 34 hours for the <a href="https://unl-game-dev-club.github.io">UNL Game Development Club</a>&#39;s first game jam in 2022, with the theme "stay out of sight".
For the version of the game completed during the jam, checkout tag <code>v0.1.0</code>.</p>
<h2 id="how-to-play">How to Play</h2>
<p>In Unknowable, your goal is gather 5 artifacts before the celestial conjunction in one year (52 weeks).</p>
<p>Every turn, each cultist will contribute toward their task&#39;s progress.
Drag a cultist to a task to reassign them.
When you are content with your cultists&#39; assignments, press "End Turn" to pass the week.</p>
<h3 id="controls">Controls</h3>
<p>Unknowable can be played using only the mouse.</p>
<p>Keyboard shortcuts:</p>
<ul>
<li>Space&#47;Enter: End Turn</li>
</ul>
<h2 id="credits">Credits</h2>
<p>Unknowable was created by <a href="https://frie.dev">Aaron Friesen</a>.</p>
<ul>
<li>Engine: <a href="https://godotengine.org">Godot Engine 3.5</a></li>
<li>Art: <a href="https://gimp.org">GIMP</a></li>
<li>Music and sounds: <a href="https://lmms.io">LMMS</a> using the <a href="https://zynaddsubfx.sourceforge.io">ZynAddSubFX</a> plugin</li>
<li>Font: <a href="https://www.1001fonts.com/pixelfj8pt1-font.html">pixelFJ8pt</a> by <a href="https://www.1001fonts.com/users/flashjunior">MBommeli</a>, licensed under the <a href="https://www.1001fonts.com/licenses/ffc.html">1001Fonts FFC License</a></li>
</ul>
<h2 id="license">License</h2>
<ul>
<li>The source code is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a> (see <code>LICENSE.txt</code>).</li>
<li>All original assets (art, music, and sounds) is licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a> (see <code>ASSET_LICENSE.txt</code>).</li>
</ul>
