<p>vw (vim wiki) is yet another system for maintaining a simple personal wiki using vim and markdown.</p>
<p>vw was made by <a href="https://frie.dev">Aaron Friesen</a> for <a href="https://unlcornhacks.com">CornHacks 2023</a>, where it won 3rd place.</p>
<h2 id="dependencies">Dependencies</h2>
<ul>
<li>To compile to HTML:
<ul>
<li>make</li>
<li><a href="https://kristaps.bsd.lv/lowdown/">lowdown</a></li>
</ul></li>
<li>To import from TiddlyWiki:
<ul>
<li>Python 3</li>
</ul></li>
</ul>
<h2 id="quick-start">Quick Start</h2>
<p>Clone vw:</p>
<pre><code>git clone https:&#47;&#47;frie.dev&#47;vw.git
</code></pre>
<p>Create a new wiki by copying the example:</p>
<pre><code>cp -r vw&#47;example my_wiki
</code></pre>
<p>Now you can create and edit articles in <code>my_wiki&#47;md&#47;</code> as you see fit.</p>
<h3 id="extras">Extras</h3>
<p>Install the <code>vw</code> helper script:</p>
<pre><code class="language-sh">cp vw&#47;vw ~&#47;.local&#47;bin
</code></pre>
<p>Add the "insert link" macro to your vimrc:</p>
<pre><code class="language-sh">cat vw&#47;insert_link.vim &#62;&#62; ~&#47;.vimrc
</code></pre>
<p>Start tracking the history of your wiki&#39;s articles:</p>
<pre><code>git init my_wiki
</code></pre>
<p>Compile your wiki to HTML:</p>
<pre><code>make -C my_wiki
</code></pre>
<h2 id="architecture">Architecture</h2>
<p>vw is not a single piece of software, but rather a process and a small collection of tools.
A vw wiki is a collection of markdown files in a directory that can link to one another.
Each file represents an article in the wiki.</p>
<h3 id="file-naming">File Naming</h3>
<p>The recommended naming convention for vw wikis, and the one used by the included tools, is as follows.
The name of each file should be the article title converted to lowercase, with spaces converted to underscores, and with the <code>.md</code> file extension.</p>
<h3 id="navigation">Navigation</h3>
<p>To create links between pages, use the normal markdown syntax:</p>
<pre><code class="language-md">[vw](vw.md) is a tool for creating wikis.
</code></pre>
<p>vw will translate each link to point to its corresponding HTML page when you run <code>make</code>.</p>
<p>Vim provides some useful built-in keybinds that you can use to navigate the wiki.
To open a link in a new buffer, move the cursor over it and type <code>gf</code>.
To open an external link in the proper program (like your browser), type <code>gx</code> instead.</p>
<h3 id="version-control">Version Control</h3>
<p>To edit collaboratively and track the history of your articles, you can simply create a git repo at the root level of your wiki.
For the most granular control, like you would get in a traditional wiki, make a commit after each edit you make to a page.
However, unlike a traditional wiki, you can also choose to group related changes to multiple pages together into a single commit, like you might do in a software project.</p>
<h2 id="tools">Tools</h2>
<h3 id="html-export">HTML Export</h3>
<p>vw includes a makefile which you can use to compile your wiki to HTML.
This lets you browse your wiki locally with a web browser, or publish it to a website.
You can customize this build process to your liking simply by editing the makefile.</p>
<p>The makefile includes options for common use cases, such as adding a CSS stylesheet or a common header and footer.
More details about setting these options can be found in comments in the makefile.</p>
<h3 id="helper-script">Helper Script</h3>
<p>vw includes a shell script (also named <code>vw</code>) which you can use to refactor your wiki and generate various insights.
For more detailed help information, run <code>vw</code> with no arguments.
For maximum usability, add <code>vw</code> to your path; for instance, you could copy it to <code>~&#47;.local&#47;bin</code> or <code>&#47;usr&#47;local&#47;bin</code>.</p>
<p><strong>NOTE:</strong> <code>vw</code> must be run from the same directory as your wiki&#39;s markdown files.</p>
<h3 id="link-generation">Link Generation</h3>
<p>To speed up editing, vw includes a vim macro that inserts the link corresponding to the article title under the cursor.
For example, if you typed <code>[My Article]</code>, running the macro would yield <code>[My Article](my_article.md)</code>.
To install it, append it to your vimrc.</p>
<pre><code class="language-sh">cat vw&#47;insert_link.vim &#62;&#62; ~&#47;.vimrc
</code></pre>
<p>Alternatively, check out <a href="https://github.com/mmai/vim-markdown-wiki">vim-markdown-wiki</a>, which provides similar functionality in the form of a Vim script plugin.
Note that, by default, vim-markdown-wiki replaces spaces with hyphens rather than underscores.</p>
<h3 id="import-from-tiddlywiki">Import from TiddlyWiki</h3>
<p>To convert a TiddlyWiki to a vw wiki, you can use the included Python script: <code>tiddlers_to_vw.py</code>.
The converter doesn&#39;t handle all of TiddlyWiki&#39;s features, but it should still save you time compared to manual conversion.</p>
<h2 id="alternatives">Alternatives</h2>
<p>Many similar projects of varying complexity attempt to solve the same problem as vw.
Some are listed below, roughly in order of similarity to vw.
I recommend trying them out and deciding which you prefer.</p>
<ul>
<li><a href="https://github.com/mmai/vim-markdown-wiki">vim-markdown-wiki</a></li>
<li><a href="https://github.com/lervag/wiki.vim">wiki.vim</a></li>
<li><a href="https://github.com/fcpg/vim-waikiki">Vim-Waikiki</a></li>
<li><a href="https://github.com/danchoi/soywiki">SoyWiki</a> (unmaintained)</li>
<li><a href="https://vimwiki.github.io/">vimwiki</a></li>
</ul>
