---
---

<html>
	<head>
		<title>MusiCLI</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">MusiCLI</h1>
			<p class="date">January 23, 2022</p>
			<div class="center">
				<img class="logo" src="screenshot.png" alt="" />
			</div>
			<code id="git">git clone https://frie.dev/musicli.git</code>
			<p id="excerpt" hidden>
				MusiCLI (pronounced "musically") is a MIDI sequencer that runs entirely
				in the terminal.
			</p>
			{% include readme/musicli.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
