---
---

<html>
	<head>
		<title>TERMINATED</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">TERMINATED</h1>
			<p class="date">October 4, 2021</p>
			<img class="logo" src="logo.png" alt="" />
			<p id="download">
				<strong>Download:</strong>
				<a class="button" href="terminated.x86_64" download>Linux</a>
				<a class="button" href="terminated.zip" download>Mac</a>
				<a class="button" href="terminated.exe" download>Windows</a>
				or <a href="play">play online</a>
			</p>
			<p id="soundtrack">
				Soundtrack:
				<a href="/terminated-ost">TERMINATED OST</a>
			</p>
			<code id="git">git clone https://frie.dev/terminated.git</code>
			<p id="excerpt" hidden>
				Slay robots in this top-down arena shooter inspired by
				<a href="https://devildaggers.com/">Devil Daggers</a> by Sorath and
				<a href="https://www.youtube.com/watch?v=AdUhOtKY0ko">2DDD</a> by
				Bintr.
			</p>
			{% include readme/terminated.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
