---
---

<html>
	<head>
		<title>Minieval</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">Minieval</h1>
			<p class="date">April 24, 2021</p>
			<img class="logo" src="logo.png" alt="" />
			<div class="center">
				<p id="excerpt" hidden>A tiny medieval city builder.</p>
			</div>
			<p id="download">
				<a
					class="button"
					href="https://github.com/friedev/minieval/releases/latest"
					download
					>Download</a
				>
			</p>
			<!--<p id="soundtrack">
				Soundtrack:
				<a href="/minieval-ost">Minieval OST</a>
			</p>-->
			<code id="git">git clone https://github.com/friedev/minieval.git</code>
			{% include readme/minieval.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
