---
---

<html>
	<head>
		<title>Boost</title>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<main class="project">
			<h1 class="post">Boost</h1>
			<p class="date">November 27, 2020</p>
			<code id="download">pip install boost-game</code>
			<code id="git">git clone https://github.com/friedev/boost.git</code>
			<p id="excerpt" hidden>
				A Python implementation of the Boost board game designed by
				<a href="https://cse.unl.edu/~bgarvin/">Dr. Brady J. Garvin</a>. It can
				be run interactively on the terminal, or as a
				<a href="https://discord.com">Discord</a> bot.
			</p>
			{% include readme/boost.html %}
		</main>
		{% include footer.html %}
	</body>
</html>
