<!doctype html>
<html lang="en">
	<head>
		<title>
			{% if page.title %} {{ page.title }} - {% endif %} {{ site.title }}
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="fediverse:creator" content="@friedev@mastodon.gamedev.place" />
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link href="/assets/css/rouge.css" rel="stylesheet" />
		<link href="/assets/css/fontawesome.css" rel="stylesheet" />
		<link href="/assets/css/brands.css" rel="stylesheet" />
		<link href="/assets/css/solid.css" rel="stylesheet" />
	</head>
	<body>
		{{ content }}
		<footer>
			<p>&copy; Aaron Friesen</p>
		</footer>
	</body>
</html>
