---
layout: page
---

{% capture readme %}
	{% include readme/{{ page.slug }}.md %}
{% endcapture %}

{% if page.logo %}
<img class="logo" src="/assets/img/logos/{{ page.slug }}.png" alt="" />
{% endif %}
<div class="project-title space-between">
	<div>
		<h1 class="post">{{ page.title }}</h1>
		<p class="date">
			{% capture date_string %}{{ page.date | date_to_string }}{% endcapture %}
			{% capture updated_string %}{{ page.updated | date_to_string }}{% endcapture %}
			Released {{ date_string }}
			{% if date_string != updated_string %}
				- Last Updated {{ updated_string }}
			{% endif %}
		</p>
	</div>
	{% include icons.html
	download=page.download
	itch=page.itch
	pypi=page.pypi
	github=page.github
	git=page.git
	soundcloud=page.soundcloud
	soundtrack=page.soundtrack
	web=page.web
	%}
</div>
{% if page.toc %}
<details class="toc">
	<summary>Table of Contents</summary>
	{{ readme | markdownify | toc_only }}
</details>
{% endif %}
{% if page.wip %}
	{% include update_notice.html %}
{% endif %}
{{ readme | markdownify }}
